XSLTTransformationFromXMLFile/Allocation/AllocationGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StoreNo" type="xs:unsignedShort" />
                    <xs:element name="ETA_to_Store" type="xs:string" />
                    <xs:element name="SONo" type="xs:unsignedInt" />
                    <xs:element name="StoreRef" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Detail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SKU" type="xs:string" />
                    <xs:element name="Qty" type="xs:decimal" />
                    <xs:element name="LineNo" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Trailer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DetailLines" type="xs:unsignedByte" />
                    <xs:element name="SumOfQuantity" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>